@tailwind base;
@layer base {
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
	h3 {
		@apply text-lg;
	}
	.quill {
		border: none;
	}

	.ql-snow {
		height: auto;
	}
	.ql-container {
		height: auto;
	}
	.ql-editor {
		background-color: rgb(75 85 99);
		font-size: 20px;
		border: none;
		color: white;
		height: 200px;
		padding-bottom: 2rem;
		overflow-y: scroll;
	}

	.blog-link a {
		@apply text-red-700 underline;
	}

	.blog-link a:hover {
		@apply text-red-500 underline;
	}
	body {
		background-color: rgb(75 85 99);
		min-height: 100vh;
	}
}
@tailwind components;
@tailwind utilities;
