@tailwind base;
@layer base {
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
	h3 {
		@apply text-lg;
	}
	.quill {
		border: none;
	}

	.ql-snow {
		height: auto;
	}
	.ql-container {
		height: auto;
	}
	.ql-editor {
		background-color: rgb(243 244 246);
		font-size: 20px;
		border: none;
		color: rgb(31 41 55);
		height: 20rem;
		padding-bottom: 2rem;
		overflow-y: scroll;
	}

	.blog-link a {
		@apply text-red-700 underline;
	}

	.blog-link a:hover {
		@apply text-red-500 underline;
	}
	body {
		background-color: #2a3d53;
		min-height: 100vh;
	}
	.primary {
		background-color: #2a3d53;
	}
	.accent {
		background-color: hsl(180, 50%, 40%);
	}
	.accent-input {
		background-color: hsl(212, 33%, 35%);
	}
	.details a {
		color: hsla(180, 50%, 45%, 1);
	}

	.details a:hover {
		color: hsla(180, 50%, 50%, 1);
	}

	.details ul {
		/* color: red; */
		list-style-type: disc;
		padding-left: 1rem;
		margin-left: 2.5rem;
	}

	.details ol {
		list-style-type: decimal;
		padding-left: 1rem;
		margin-left: 1.5rem;
	}

	.blocktext {
		display: unset;
		display: block;
		width: 23rem;
	}
}
@tailwind components;
@tailwind utilities;
