@tailwind base;
@layer base {
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
	h3 {
		@apply text-lg;
	}
	.ql-container {
		height: 400px;
	}
	.ql-editor {
		height: 400px;
		padding-bottom: 3rem;
	}

	.blog-link a {
		@apply text-red-700 underline;
	}

	.blog-link a:hover {
		@apply text-red-500 underline;
	}
}
@tailwind components;
@tailwind utilities;
